{% extends 'dashboard.html' %}

{% block content %}

    <!-- page content -->
     
        <div class="right_col" role="main" style="background-color: paleturquoise;">
            <h1 style="text-align: center; color: black; font-size: 52px; font-family: cursive">
              <strong>Universidad de El Salvador</strong>
            </h1>
          <br>
          <h2 style="text-align: center; color: midnightblue; font-size: 42px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
            <strong>Salario Mínimo en la Economía de El Salvador</strong>
        </h2>
                  
        </div>       
        
        <!-- /page content -->
{% endblock %}
